body {
    background-color: rgb(209, 200, 170);
}
h1.font{
    color: rgb(4, 45, 82);
    text-align: center;
    font-size: 300% ;
    font-family: 'Lucida Sans', cursive;
}
hr{
    border: 2px solid rgb(173, 148, 95);
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}